.App {
  height: 100vh !important;
}

html{
  overflow: hidden;
}

#root{
  background-color: #040d1b;
}

#visualizerType{
  color: white;
}

#paletteType{
  color: white;
  min-width: 80px;
}

#presetName{
  color: white;
  min-width: 100px;
  width: 50%;
}

#savePreset:disabled{
  background-color: lightcoral;
  color: rgb(41 41 41);
}

.label{
  padding: 0 16px !important;
  color: #8dcaff !important;
  width: 100% !important;
}

#selectedPreset{
  color: white;
  min-width: 150px;
}

#sliderContainer{
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 20px !important;
  padding-right: 12px;
}

#sliderContainer .MuiInputLabel-formControl{
  top: 0;
  left: -15px;
  position: absolute;
  transform: translate(0, -11px) scale(1);
}

#sliderContainer > div{
  width: 100%;
  flex-direction: row;
}

#selectContainer{
  color: white;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#uiContainer{
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #000317;
}

#uiContainer div {
  margin: 5px;
}

#uiContainer .MuiOutlinedInput-input{
  border-color: white;
}

#selectContainer .MuiInput-input{
  color: white;
}

#colorPicker .makeStyles-root-1{
  width: 100%;
  height: auto;
}

#colorPicker .makeStyles-root-1 button{
  top: 4px;
  border: 15px white solid;
}

#colorPicker label {
  top: -4px;
}

#uiContainer button {
  margin: 5px;
}


#spread{
  color: white;
}

#offset{
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#alert-text{
  color: white;
  position: absolute;
  bottom: 5%;
  left: 3%;
  z-index: 2000;
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fade {
  opacity: 0;
  filter: drop-shadow(3px 3px 1px #272727);
  animation: fade ease 4s forwards;
  -webkit-animation: fade ease 4s forwards;
  -moz-animation: fade ease 4s forwards;
  -o-animation: fade ease 4s forwards;
  -ms-animation: fade ease 4s forwards;
}
@keyframes fade {
  10% { opacity: 1; }

}

@-moz-keyframes fade {
  10% { opacity: 1; }

}

@-webkit-keyframes fade {
  10% { opacity: 1; }

}

@-o-keyframes fade {
  10% { opacity: 1; }

}

@-ms-keyframes fade {
  10% { opacity: 1; }

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1f242e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
